<!-- BRANDS-1============================================= -->
<div id="brands-1" class="py--100 py-[100px] lg:py-[80px] md:py-[70px] brands-section">
    <div class="container">
        <!-- BRANDS CAROUSEL -->
        <div class="flex flex-wrap mx-[calc(-0.5*_1.5rem)]">
            <div class="col text-center w-full flex-[1_0_0%] px-[calc(0.5*_1.5rem)] max-w-full">
                <div class="owl-carousel brands-carousel-6">
                    <!-- BRAND LOGO IMAGE -->
                    <div class="brand-logo px-[30px] py-0 lg:px-[12px] lg:py-0 md:px-[12px] md:py-0 sm:px-[20px] sm:py-0 xsm:px-[25px] xsm:py-0 overflow-hidden relative transition-all duration-[400ms] ease-[ease-in-out] top-0 hover:-top-1.5">
                        <a href="#"><img class="img-fluid light-theme-img" loading="lazy" decoding="async"
                                         src="{{ asset('build/theme/images/CNP_LUX_300x150.png') }}"
                                         alt="brand-logo"></a>
                        <a href="#"><img class="img-fluid dark-theme-img hidden absolute"
                                         src="{{ asset('theme/images/brand-1-white.png') }}"
                                         alt="brand-logo"></a>
                    </div>
                    <!-- BRAND LOGO IMAGE -->
                    <div class="brand-logo px-[30px] py-0 lg:px-[12px] lg:py-0 md:px-[12px] md:py-0 sm:px-[20px] sm:py-0 xsm:px-[25px] xsm:py-0 overflow-hidden relative transition-all duration-[400ms] ease-[ease-in-out] top-0 hover:-top-1.5">
                        <a href="#"><img class="img-fluid light-theme-img" loading="lazy" decoding="async"
                                         src="{{ asset('build/theme/images/generali_logo_transparent_300x150.png') }}"
                                         alt="brand-logo"></a>
                        <a href="#"><img class="img-fluid dark-theme-img hidden absolute"
                                         src="{{ asset('theme/images/brand-3-white.png') }}"
                                         alt="brand-logo"></a>
                    </div>
                    <!-- BRAND LOGO IMAGE -->
                    <div class="brand-logo px-[30px] py-0 lg:px-[12px] lg:py-0 md:px-[12px] md:py-0 sm:px-[20px] sm:py-0 xsm:px-[25px] xsm:py-0 overflow-hidden relative transition-all duration-[400ms] ease-[ease-in-out] top-0 hover:-top-1.5">
                        <a href="#"><img class="img-fluid light-theme-img" loading="lazy" decoding="async"
                                         src="{{ asset('build/theme/images/generali_luxembourg_transparent_300x150.png') }}"
                                         alt="brand-logo"></a>
                        <a href="#"><img class="img-fluid dark-theme-img hidden absolute"
                                         src="{{ asset('theme/images/brand-4.png') }}" alt="brand-logo"></a>
                    </div>
                    <!-- BRAND LOGO IMAGE -->
                    <div class="brand-logo px-[30px] py-0 lg:px-[12px] lg:py-0 md:px-[12px] md:py-0 sm:px-[20px] sm:py-0 xsm:px-[25px] xsm:py-0 overflow-hidden relative transition-all duration-[400ms] ease-[ease-in-out] top-0 hover:-top-1.5">
                        <a href="#"><img class="img-fluid light-theme-img" loading="lazy" decoding="async"
                                         src="{{ asset('build/theme/images/selencia_transparent_300x150.png') }}"
                                         alt="brand-logo"></a>
                        <a href="#"><img class="img-fluid dark-theme-img hidden absolute"
                                         src="{{ asset('theme/images/brand-5-white.png') }}"
                                         alt="brand-logo"></a>
                    </div>
                    <!-- BRAND LOGO IMAGE -->
                    <div class="brand-logo px-[30px] py-0 lg:px-[12px] lg:py-0 md:px-[12px] md:py-0 sm:px-[20px] sm:py-0 xsm:px-[25px] xsm:py-0 overflow-hidden relative transition-all duration-[400ms] ease-[ease-in-out] top-0 hover:-top-1.5">
                        <a href="#"><img class="img-fluid light-theme-img" loading="lazy" decoding="async"
                                         src="{{ asset('build/theme/images/nortia_transparent_300x150.png') }}"
                                         alt="brand-logo"></a>
                        <a href="#"><img class="img-fluid dark-theme-img hidden absolute"
                                         src="{{ asset('theme/images/brand-6-white.png') }}"
                                         alt="brand-logo"></a>
                    </div>
                    <!-- BRAND LOGO IMAGE -->
                    <div class="brand-logo px-[30px] py-0 lg:px-[12px] lg:py-0 md:px-[12px] md:py-0 sm:px-[20px] sm:py-0 xsm:px-[25px] xsm:py-0 overflow-hidden relative transition-all duration-[400ms] ease-[ease-in-out] top-0 hover:-top-1.5">
                        <a href="#"><img class="img-fluid light-theme-img" loading="lazy" decoding="async"
                                         src="{{ asset('build/theme/images/eres_transparent_300x150.png') }}"
                                         alt="brand-logo"></a>
                        <a href="#"><img class="img-fluid dark-theme-img hidden absolute"
                                         src="{{ asset('theme/images/brand-7-white.png') }}"
                                         alt="brand-logo"></a>
                    </div>
                    <!-- BRAND LOGO IMAGE -->
                    <div class="brand-logo px-[30px] py-0 lg:px-[12px] lg:py-0 md:px-[12px] md:py-0 sm:px-[20px] sm:py-0 xsm:px-[25px] xsm:py-0 overflow-hidden relative transition-all duration-[400ms] ease-[ease-in-out] top-0 hover:-top-1.5">
                        <a href="#"><img class="img-fluid light-theme-img" loading="lazy" decoding="async"
                                         src="{{ asset('build/theme/images/swiss_life_transparent_300x150.png') }}"
                                         alt="brand-logo"></a>
                        <a href="#"><img class="img-fluid dark-theme-img hidden absolute"
                                         src="{{ asset('theme/images/brand-8-white.png') }}"
                                         alt="brand-logo"></a>
                    </div>
                </div>
            </div>
        </div>
        <!-- END BRANDS CAROUSEL -->
    </div>
    <!-- End container -->
</div>
<!-- END BRANDS-1 -->